In [1]:
import pandas as pd
import numpy as np

In [3]:
# File paths
youtube_data_path = "C:/Users/User/Desktop/My_project/Global_YouTube_Statistics.csv"
internet_usage_data_path = "C:/Users/User/Desktop/My_project/World_Internet_Usage_Data.csv"

In [5]:
# Load YouTube data
youtube_data = pd.read_csv(youtube_data_path, encoding='ISO-8859-1')

In [7]:
# Overview of the dataset
print("Shape of YouTube data:", youtube_data.shape)
print("Columns in YouTube data:", youtube_data.columns)
print("Preview of YouTube data:")
print(youtube_data.head())

Shape of YouTube data: (995, 28)
Columns in YouTube data: Index(['rank', 'Youtuber', 'subscribers', 'video views', 'category', 'Title',
       'uploads', 'Country', 'Abbreviation', 'channel_type',
       'video_views_rank', 'country_rank', 'channel_type_rank',
       'video_views_for_the_last_30_days', 'lowest_monthly_earnings',
       'highest_monthly_earnings', 'lowest_yearly_earnings',
       'highest_yearly_earnings', 'subscribers_for_last_30_days',
       'created_year', 'created_month', 'created_date',
       'Gross tertiary education enrollment (%)', 'Population',
       'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude'],
      dtype='object')
Preview of YouTube data:
   rank                    Youtuber  subscribers   video views  \
0     1                    T-Series    245000000  2.280000e+11
1     2              YouTube Movies    170000000  0.000000e+00
2     3                     MrBeast    166000000  2.836884e+10
3     4  Cocomelon - Nursery Rhymes    162000000  1.640000e+11
4     5                   SET India    159000000  1.480000e+11

           category                       Title  uploads        Country  \
0             Music                    T-Series    20082          India
1  Film & Animation               youtubemovies        1  United States
2     Entertainment                     MrBeast      741  United States
3         Education  Cocomelon - Nursery Rhymes      966  United States
4             Shows                   SET India   116536          India

  Abbreviation   channel_type  ...  subscribers_for_last_30_days  \
0           IN          Music  ...                     2000000.0
1           US          Games  ...                           NaN
2           US  Entertainment  ...                     8000000.0
3           US      Education  ...                     1000000.0
4           IN  Entertainment  ...                     1000000.0

   created_year  created_month  created_date  \
0        2006.0            Mar          13.0
1        2006.0            Mar           5.0
2        2012.0            Feb          20.0
3        2006.0            Sep           1.0
4        2006.0            Sep          20.0

   Gross tertiary education enrollment (%)    Population  Unemployment rate  \
0                                     28.1  1.366418e+09               5.36
1                                     88.2  3.282395e+08              14.70
2                                     88.2  3.282395e+08              14.70
3                                     88.2  3.282395e+08              14.70
4                                     28.1  1.366418e+09               5.36

   Urban_population   Latitude  Longitude
0       471031528.0  20.593684  78.962880
1       270663028.0  37.090240 -95.712891
2       270663028.0  37.090240 -95.712891
3       270663028.0  37.090240 -95.712891
4       471031528.0  20.593684  78.962880

[5 rows x 28 columns]

In [9]:
# Data types of each column
print("Data types in YouTube data:")
print(youtube_data.dtypes)

Data types in YouTube data:
rank                                         int64
Youtuber                                    object
subscribers                                  int64
video views                                float64
category                                    object
Title                                       object
uploads                                      int64
Country                                     object
Abbreviation                                object
channel_type                                object
video_views_rank                           float64
country_rank                               float64
channel_type_rank                          float64
video_views_for_the_last_30_days           float64
lowest_monthly_earnings                    float64
highest_monthly_earnings                   float64
lowest_yearly_earnings                     float64
highest_yearly_earnings                    float64
subscribers_for_last_30_days               float64
created_year                               float64
created_month                               object
created_date                               float64
Gross tertiary education enrollment (%)    float64
Population                                 float64
Unemployment rate                          float64
Urban_population                           float64
Latitude                                   float64
Longitude                                  float64
dtype: object

In [11]:
# Basic statistics for numeric columns
print("Basic statistics for numeric columns:")
print(youtube_data.describe())

Basic statistics for numeric columns:
            rank   subscribers   video views        uploads  video_views_rank  \
count  995.00000  9.950000e+02  9.950000e+02     995.000000      9.940000e+02
mean   498.00000  2.298241e+07  1.103954e+10    9187.125628      5.542489e+05
std    287.37606  1.752611e+07  1.411084e+10   34151.352254      1.362782e+06
min      1.00000  1.230000e+07  0.000000e+00       0.000000      1.000000e+00
25%    249.50000  1.450000e+07  4.288145e+09     194.500000      3.230000e+02
50%    498.00000  1.770000e+07  7.760820e+09     729.000000      9.155000e+02
75%    746.50000  2.460000e+07  1.355470e+10    2667.500000      3.584500e+03
max    995.00000  2.450000e+08  2.280000e+11  301308.000000      4.057944e+06

       country_rank  channel_type_rank  video_views_for_the_last_30_days  \
count    879.000000         962.000000                      9.390000e+02
mean     386.053470         745.719335                      1.756103e+08
std     1232.244746        1944.386561                      4.163782e+08
min        1.000000           1.000000                      1.000000e+00
25%       11.000000          27.000000                      2.013750e+07
50%       51.000000          65.500000                      6.408500e+07
75%      123.000000         139.750000                      1.688265e+08
max     7741.000000        7741.000000                      6.589000e+09

       lowest_monthly_earnings  highest_monthly_earnings  ...  \
count               995.000000              9.950000e+02  ...
mean              36886.148281              5.898078e+05  ...
std               71858.724092              1.148622e+06  ...
min                   0.000000              0.000000e+00  ...
25%                2700.000000              4.350000e+04  ...
50%               13300.000000              2.127000e+05  ...
75%               37900.000000              6.068000e+05  ...
max              850900.000000              1.360000e+07  ...

       highest_yearly_earnings  subscribers_for_last_30_days  created_year  \
count             9.950000e+02                  6.580000e+02    990.000000
mean              7.081814e+06                  3.490791e+05   2012.630303
std               1.379704e+07                  6.143554e+05      4.512503
min               0.000000e+00                  1.000000e+00   1970.000000
25%               5.217500e+05                  1.000000e+05   2009.000000
50%               2.600000e+06                  2.000000e+05   2013.000000
75%               7.300000e+06                  4.000000e+05   2016.000000
max               1.634000e+08                  8.000000e+06   2022.000000

       created_date  Gross tertiary education enrollment (%)    Population  \
count    990.000000                               872.000000  8.720000e+02
mean      15.746465                                63.627752  4.303873e+08
std        8.777520                                26.106893  4.727947e+08
min        1.000000                                 7.600000  2.025060e+05
25%        8.000000                                36.300000  8.335541e+07
50%       16.000000                                68.000000  3.282395e+08
75%       23.000000                                88.200000  3.282395e+08
max       31.000000                               113.100000  1.397715e+09

       Unemployment rate  Urban_population    Latitude   Longitude
count         872.000000      8.720000e+02  872.000000  872.000000
mean            9.279278      2.242150e+08   26.632783  -14.128146
std             4.888354      1.546874e+08   20.560533   84.760809
min             0.750000      3.558800e+04  -38.416097 -172.104629
25%             5.270000      5.590832e+07   20.593684  -95.712891
50%             9.365000      2.706630e+08   37.090240  -51.925280
75%            14.700000      2.706630e+08   37.090240   78.962880
max            14.720000      8.429340e+08   61.924110  138.252924

[8 rows x 21 columns]

In [13]:
# Check for missing values
missing_values = youtube_data.isnull().sum()
print("Missing values in YouTube data:")
print(missing_values)

Missing values in YouTube data:
rank                                         0
Youtuber                                     0
subscribers                                  0
video views                                  0
category                                    46
Title                                        0
uploads                                      0
Country                                    122
Abbreviation                               122
channel_type                                30
video_views_rank                             1
country_rank                               116
channel_type_rank                           33
video_views_for_the_last_30_days            56
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               337
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    123
Population                                 123
Unemployment rate                          123
Urban_population                           123
Latitude                                   123
Longitude                                  123
dtype: int64

In [15]:
# Check unique values in specific columns
print("Unique values in 'category':")
print(youtube_data['category'].unique())
print("Unique values in 'Country':")
print(youtube_data['Country'].unique())

Unique values in 'category':
['Music' 'Film & Animation' 'Entertainment' 'Education' 'Shows' nan
 'People & Blogs' 'Gaming' 'Sports' 'Howto & Style' 'News & Politics'
 'Comedy' 'Trailers' 'Nonprofits & Activism' 'Science & Technology'
 'Movies' 'Pets & Animals' 'Autos & Vehicles' 'Travel & Events']
Unique values in 'Country':
['India' 'United States' nan 'Japan' 'Russia' 'South Korea'
 'United Kingdom' 'Canada' 'Brazil' 'Argentina' 'Chile' 'Cuba'
 'El Salvador' 'Pakistan' 'Philippines' 'Thailand' 'Colombia' 'Barbados'
 'Mexico' 'United Arab Emirates' 'Spain' 'Saudi Arabia' 'Indonesia'
 'Turkey' 'Venezuela' 'Kuwait' 'Jordan' 'Netherlands' 'Singapore'
 'Australia' 'Italy' 'Germany' 'France' 'Sweden' 'Afghanistan' 'Ukraine'
 'Latvia' 'Switzerland' 'Vietnam' 'Malaysia' 'China' 'Iraq' 'Egypt'
 'Andorra' 'Ecuador' 'Morocco' 'Peru' 'Bangladesh' 'Finland' 'Samoa']

In [17]:
# Replace missing 'category' with "Unknown" and fill missing 'Country' with "Not Specified"
youtube_data = youtube_data.assign(
    category=youtube_data['category'].fillna("Unknown"),
    Country=youtube_data['Country'].fillna("Not Specified")
)

In [19]:
# Replace missing numeric values with column median
numeric_columns = [
    'subscribers_for_last_30_days',
    'Gross tertiary education enrollment (%)',
    'Population',
    'Unemployment rate',
    'Urban_population',
    'Latitude',
    'Longitude'
]

for col in numeric_columns:
    youtube_data[col] = youtube_data[col].fillna(youtube_data[col].median())

In [21]:
# Check for zero values in 'video views'
video_views_outliers = youtube_data[youtube_data['video views'] == 0]
print(f"Number of outliers in video views: {len(video_views_outliers)}")

# Remove rows with zero earnings (if necessary)
youtube_data = youtube_data[
    ~((youtube_data['lowest_monthly_earnings'] == 0) & 
      (youtube_data['highest_monthly_earnings'] == 0))
]

Number of outliers in video views: 8

In [23]:
# Create a standardized 'created_date'
youtube_data['created_date_standardized'] = youtube_data.apply(
    lambda row: f"{int(row['created_year'])}-{row['created_month'][:3]}-{int(row['created_date'])}"
    if not pd.isnull(row['created_year']) else "Unknown",
    axis=1
)

In [25]:
# Load Internet Usage data
internet_usage_data = pd.read_csv(internet_usage_data_path, encoding='ISO-8859-1')

In [27]:
# Overview of the dataset
print("Shape of Internet Usage data:", internet_usage_data.shape)
print("Columns in Internet Usage data:", internet_usage_data.columns)
print("Preview of Internet Usage data:")
print(internet_usage_data.head())

Shape of Internet Usage data: (238, 8)
Columns in Internet Usage data: Index(['Location', 'Rate (WB)', 'Year', 'Rate (ITU)', 'Year.1', 'Users (CIA)',
       'Year.2', 'Notes'],
      dtype='object')
Preview of Internet Usage data:
         Location  Rate (WB)    Year  Rate (ITU)  Year.1  Users (CIA)  Year.2  \
0           World       67.4  2023.0        67.4  2023.0          NaN     NaN
1     Afghanistan       18.4  2020.0        17.6  2019.0    7020000.0  2020.0
2         Albania       83.1  2023.0        83.1  2023.0    2291000.0  2021.0
3         Algeria       71.2  2022.0        71.2  2022.0   31240000.0  2021.0
4  American Samoa        NaN     NaN         NaN     NaN      18135.0  2021.0

  Notes
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN

In [29]:
# Check for missing values
missing_values_internet = internet_usage_data.isnull().sum()
print("Missing values in Internet Usage data:")
print(missing_values_internet)

Missing values in Internet Usage data:
Location         0
Rate (WB)       29
Year            29
Rate (ITU)      11
Year.1          11
Users (CIA)      6
Year.2           7
Notes          236
dtype: int64

In [31]:
# Data types of each column
print("Data types in Internet Usage data:")
print(internet_usage_data.dtypes)

Data types in Internet Usage data:
Location        object
Rate (WB)      float64
Year           float64
Rate (ITU)     float64
Year.1         float64
Users (CIA)    float64
Year.2         float64
Notes           object
dtype: object

In [33]:
# Basic statistics for numeric columns
print("Basic statistics for numeric columns in Internet Usage data:")
print(internet_usage_data.describe())

Basic statistics for numeric columns in Internet Usage data:
        Rate (WB)         Year  Rate (ITU)       Year.1   Users (CIA)  \
count  209.000000   209.000000  227.000000   227.000000  2.320000e+02
mean    70.726794  2021.497608   68.581498  2020.991189  2.100017e+07
std     25.065249     1.721260   26.472938     3.572252  8.427049e+07
min     10.000000  2016.000000    1.200000  2000.000000  3.700000e+01
25%     54.400000  2021.000000   46.000000  2022.000000  2.537000e+05
50%     78.700000  2022.000000   77.700000  2022.000000  3.077700e+06
75%     89.900000  2022.000000   89.450000  2023.000000  9.945000e+06
max    100.000000  2023.000000  100.000000  2023.000000  1.022000e+09

            Year.2
count   231.000000
mean   2021.047619
std       0.232904
min    2020.000000
25%    2021.000000
50%    2021.000000
75%    2021.000000
max    2022.000000

In [35]:
# Check unique values in important columns
print("Unique values in 'Location':")
print(internet_usage_data['Location'].unique())

print("Number of unique countries:", internet_usage_data['Location'].nunique())

print("Unique values in 'Rate (WB)':")
print(internet_usage_data['Rate (WB)'].unique())

print("Unique values in 'Rate (ITU)':")
print(internet_usage_data['Rate (ITU)'].unique())

print("Unique values in 'Users (CIA)':")
print(internet_usage_data['Users (CIA)'].unique())

Unique values in 'Location':
['World' 'Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra'
 'Angola' 'Anguilla' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan'
 'Bolivia' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'British Virgin Islands' 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi'
 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Christmas Island'
 'Cocos (Keeling) Islands' 'Colombia' 'Comoros' 'Cook Islands'
 'Costa Rica' 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czech Republic'
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'East Timor' 'Ecuador' 'Egypt' 'El Salvador'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia'
 'Falkland Islands' 'Faroe Islands' 'Fiji' 'Finland' 'France'
 'French Guiana' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia' 'Germany'
 'Ghana' 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guadeloupe' 'Guam'
 'Guatemala' 'Guernsey' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti'
 'Honduras' 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran'
 'Iraq' 'Ireland' 'Israel' 'Italy' 'Ivory Coast' 'Jamaica' 'Japan'
 'Jersey' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kosovo' 'Kuwait'
 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya'
 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macao' 'Madagascar' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Martinique'
 'Mauritania' 'Mauritius' 'Mayotte' 'Mexico' 'Micronesia' 'Moldova'
 'Monaco' 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique'
 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands' 'New Caledonia'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'Norfolk Island'
 'North Macedonia' 'Northern Mariana Islands' 'Norway' 'Oman' 'Pakistan'
 'Palau' 'Palestine' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Pitcairn Islands' 'Poland' 'Portugal' 'Puerto Rico'
 'Qatar' 'Republic of the Congo' 'RÃ©union' 'Romania' 'Russia' 'Rwanda'
 'Saint Barthelemy' 'Saint Helena, Ascension, and Tristan da Cunha'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Martin'
 'Saint Pierre and Miquelon' 'Saint Vincent and the Grenadines' 'Samoa'
 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Seychelles' 'Sierra Leone' 'Singapore' 'Sint Maarten' 'Slovakia'
 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa' 'South Korea'
 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan' 'Tanzania' 'Thailand' 'Togo'
 'Tokelau' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'US Virgin Islands' 'Uzbekistan' 'Vanuatu' 'Vatican City' 'Venezuela'
 'Vietnam' 'Wallis and Futuna' 'Yemen' 'Zambia' 'Zimbabwe']
Number of unique countries: 238
Unique values in 'Rate (WB)':
[ 67.4  18.4  83.1  71.2   nan  94.5  39.3  91.4  89.2  78.6  97.2  95.
  95.3  88.   94.4 100.   44.5  76.2  91.5  94.6  70.4  33.8  98.4  86.8
  73.3  83.4  77.3  84.2  77.7  99.   80.4  19.9  11.3  56.7  43.9  72.1
  81.1  10.6  12.2  94.1  77.5  73.   27.3  85.1  83.2  73.2  68.1  91.2
  86.   27.2  98.9  65.   85.2  40.8  72.7  72.2  62.9  66.8  26.6  93.2
  58.3  19.4  97.6  93.5  73.7  54.2  81.9  92.5  69.8  85.   69.5  79.9
  80.5  54.4  33.9  31.6  85.3  59.7  95.6  99.9  43.4  69.2  81.7  78.7
  91.9  87.   43.8  90.5  92.9  89.4  99.8  79.8  66.2  92.2  90.1  47.
  30.1  88.4  99.6  88.5  99.4  89.8  20.6  27.7  97.7  33.1  44.4  75.5
  81.2  40.5  71.   98.6  83.9  88.2  89.9  21.2  48.1  62.2  83.3  49.6
  97.   82.   95.7  61.1  16.9  35.5  97.9  33.   88.7  73.6  27.   78.1
  74.7  75.2  86.9  85.8  87.3  36.3  92.3  34.4  76.5  75.8  76.3  57.
  60.   85.4  86.7  30.4  96.9  90.4  47.3  27.6  12.1  95.5  50.1  28.7
  97.3  35.8  36.1  31.9  89.5  37.6  66.7  80.   73.8  21.3  82.3  10.
  79.2  97.1  64.4  89.   69.9  61.6  26.7  31.2  32.6]
Unique values in 'Rate (ITU)':
[ 67.4  17.6  83.1  71.2   nan  94.5  39.3  81.6  91.4  89.2  77.   97.2
  94.9  95.3  88.   94.4 100.   44.5  76.2  91.5  94.6  70.4  33.8  98.4
  86.8  73.3  83.4  77.3  84.2  77.7  99.   80.4  19.9  11.3  56.7  43.9
  94.   72.1  81.1   7.5  12.2  94.1  77.5  72.8  16.4  54.   85.1  83.2
  73.2  68.1  91.2  86.   27.2  98.8  65.   84.4  40.8  72.7  72.2  62.9
  66.8  26.6  93.2  58.3  19.4  97.6  85.2  93.5  25.7  73.7  54.2  81.9
  92.5  69.8  85.   69.5  79.9  23.4  80.5  54.4  83.6  33.9  31.6  85.3
  59.7  95.6  99.9  43.4  69.2  81.7  78.7  91.9  87.   38.4  84.9  41.
  90.5  92.9  89.4  99.7  79.8  66.2  92.2  90.1  47.   30.1  88.4  96.8
  88.5  99.3  89.8  20.6  18.   97.7  83.9  33.1  42.   44.4  75.5   1.2
  81.2  40.5  63.5  88.2  54.6  89.9  21.2  48.1  62.2  82.7  49.6  97.
  82.   95.7  61.1  16.9  35.5  79.6  32.9  27.   86.6  73.6  78.1  74.7
  75.2  86.4  85.8  87.3  36.2  36.3  34.4  76.5  74.2  75.3  57.   60.
  85.4  86.7  30.4  94.3  87.2  90.4  45.   27.6  97.4  12.1  95.4  50.1
  28.7  75.8  97.3  34.7  93.1  36.1  31.9  89.5  37.6   1.5  57.5  80.
  73.8  21.3  10.   79.2  97.1  64.4  89.   69.9  61.6   9.   17.7  31.2
  32.6]
Unique values in 'Users (CIA)':
[          nan 7.0200000e+06 2.2910000e+06 3.1240000e+07 1.8135000e+04
 7.4260000e+04 1.1550000e+07 1.3056000e+04 8.9280000e+04 3.9150000e+07
 2.2120000e+06 1.0680000e+05 2.4960000e+07 8.2770000e+06 8.6000000e+06
 3.8540000e+05 1.5000000e+06 6.6300000e+07 2.4080000e+05 8.3520000e+06
 1.0920000e+07 2.4800000e+05 4.4200000e+06 6.4000000e+04 6.7080000e+05
 7.9200000e+06 2.5080000e+06 1.9240000e+06 1.7010000e+08 2.4087000e+04
 4.4100000e+05 5.1750000e+06 4.8400000e+06 7.5400000e+05 1.0200000e+07
 1.2420000e+07 3.5340000e+07 4.1300000e+05 5.5148000e+04 6.0500000e+05
 3.0600000e+06 1.7100000e+07 1.0220000e+09 1.1390000e+03 8.0000000e+01
 3.7960000e+07 2.2140000e+05 1.1382000e+04 4.3160000e+06 3.3210000e+06
 7.8100000e+06 1.1195600e+05 8.0990000e+05 9.1300000e+06 2.1102720e+07
 5.8410000e+06 7.5900000e+05 5.8320000e+04 9.3500000e+06 5.0700000e+05
 1.3680000e+07 7.9200000e+07 3.9690000e+06 8.6400000e+05 7.9200000e+05
 1.1830000e+06 7.0800000e+05 2.0400000e+07 3.7620000e+03 5.1728000e+04
 8.0960000e+05 5.1150000e+06 5.5900000e+07 2.1810000e+05 1.6560000e+06
 8.5800000e+05 2.8880000e+06 7.5530000e+07 2.2440000e+07 3.1152000e+04
 7.8000000e+06 3.8920000e+04 9.3600000e+04 1.3685000e+05 9.1800000e+06
 5.5069000e+04 4.9000000e+06 7.3500000e+05 6.8000000e+05 4.2900000e+06
 4.8000000e+06 6.9750000e+06 8.6330000e+06 3.7000000e+05 6.4400000e+08
 1.6740000e+08 6.9520000e+07 2.1560000e+07 4.7500000e+06 8.0100000e+06
 4.4250000e+07 1.2150000e+07 2.2960000e+06 9.9600000e+07 9.6038000e+04
 1.7290000e+07 1.5370000e+07 7.0200000e+04 1.7563000e+06 4.3000000e+06
 5.0700000e+06 4.5880000e+06 1.7290000e+06 4.8720000e+06 1.1040000e+06
 1.7680000e+06 3.0954000e+06 3.7440000e+04 2.4360000e+06 6.3360000e+05
 6.0720000e+05 5.8000000e+06 3.2980000e+07 4.4720000e+05 7.4800000e+06
 4.6110000e+05 1.6254000e+04 2.7140000e+06 8.8400000e+05 9.8800000e+07
 4.4000000e+04 1.8910000e+06 3.1820000e+04 2.7720000e+06 5.1660000e+05
 2.4730000e+03 3.2560000e+07 5.4400000e+06 2.3760000e+07 1.3250000e+06
 1.0920000e+04 1.5600000e+07 1.6560000e+07 2.3780000e+05 4.8960000e+06
 3.9330000e+06 5.5000000e+06 1.1550000e+08 1.5120000e+03 8.0600000e+02
 1.7430000e+06 1.2299000e+04 5.3460000e+06 4.3200000e+06 4.8300000e+07
 6.6960000e+03 7.5406510e+06 2.9920000e+06 3.1680000e+06 5.1590000e+06
 2.4140000e+07 5.8300000e+07 3.7000000e+01 3.2300000e+07 8.2000000e+06
 2.5641000e+06 2.7000000e+06 1.7943900e+06 1.5960000e+07 1.3200000e+08
 3.9000000e+06 7.0770000e+03 2.2870000e+03 3.7920000e+04 1.4040000e+05
 1.9284000e+04 5.0990000e+03 8.5000000e+04 1.7160000e+05 2.5500000e+04
 1.1220000e+05 3.6000000e+07 9.8600000e+06 5.5890000e+06 9.0200000e+04
 1.0474990e+06 5.3690000e+06 3.9089000e+04 4.8060000e+06 1.8690000e+06
 2.5560000e+05 2.4650000e+06 4.2480000e+07 5.0960000e+07 8.6900000e+05
 4.4180000e+07 1.4740000e+07 1.3248000e+07 4.0260000e+05 8.8000000e+06
 8.4924680e+06 2.1600000e+07 3.0090540e+06 2.0480000e+07 6.1200000e+07
 3.0100000e+06 8.0000000e+02 7.3700000e+04 1.1850000e+06 9.4800000e+06
 6.8850000e+07 1.5630230e+06 3.7008000e+04 7.9200000e+03 4.6000000e+06
 3.4596356e+07 9.4000000e+06 6.4990000e+07 3.1280000e+08 6.7508000e+04
 2.6180000e+07 2.1120000e+05 3.8300000e+02 2.2734162e+07 7.1780000e+07
 5.4960000e+03 8.2296240e+06 3.9900000e+06 5.6000000e+06]

In [37]:
# Clean Internet Usage data
internet_usage_data.rename(columns={"Location": "Country"}, inplace=True)
internet_usage_data['Country'] = internet_usage_data['Country'].str.strip()
internet_usage_data.drop(columns=['Notes'], inplace=True)

In [39]:
# Fill missing numeric values with column median
numeric_columns_internet = ['Rate (WB)', 'Rate (ITU)', 'Users (CIA)']
for col in numeric_columns_internet:
    internet_usage_data[col] = internet_usage_data[col].fillna(internet_usage_data[col].median())

In [41]:
# Merge datasets
merged_data = pd.merge(youtube_data, internet_usage_data, on="Country", how="left")

# Save the merged dataset
merged_data.to_csv("Merged_Global_YouTube_and_Internet_Usage_Overview.csv", index=False)

# Preview the merged data
print("Preview of merged data:")
print("Shape of merged data:", merged_data.shape)
print("Columns in merged data:", merged_data.columns)
print("Preview of merged data:")

print(merged_data.head())

Preview of merged data:
Shape of merged data: (906, 35)
Columns in merged data: Index(['rank', 'Youtuber', 'subscribers', 'video views', 'category', 'Title',
       'uploads', 'Country', 'Abbreviation', 'channel_type',
       'video_views_rank', 'country_rank', 'channel_type_rank',
       'video_views_for_the_last_30_days', 'lowest_monthly_earnings',
       'highest_monthly_earnings', 'lowest_yearly_earnings',
       'highest_yearly_earnings', 'subscribers_for_last_30_days',
       'created_year', 'created_month', 'created_date',
       'Gross tertiary education enrollment (%)', 'Population',
       'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude',
       'created_date_standardized', 'Rate (WB)', 'Year', 'Rate (ITU)',
       'Year.1', 'Users (CIA)', 'Year.2'],
      dtype='object')
Preview of merged data:
   rank                    Youtuber  subscribers   video views  \
0     1                    T-Series    245000000  2.280000e+11
1     2              YouTube Movies    170000000  0.000000e+00
2     3                     MrBeast    166000000  2.836884e+10
3     4  Cocomelon - Nursery Rhymes    162000000  1.640000e+11
4     5                   SET India    159000000  1.480000e+11

           category                       Title  uploads        Country  \
0             Music                    T-Series    20082          India
1  Film & Animation               youtubemovies        1  United States
2     Entertainment                     MrBeast      741  United States
3         Education  Cocomelon - Nursery Rhymes      966  United States
4             Shows                   SET India   116536          India

  Abbreviation   channel_type  ...  Urban_population   Latitude  Longitude  \
0           IN          Music  ...       471031528.0  20.593684  78.962880
1           US          Games  ...       270663028.0  37.090240 -95.712891
2           US  Entertainment  ...       270663028.0  37.090240 -95.712891
3           US      Education  ...       270663028.0  37.090240 -95.712891
4           IN  Entertainment  ...       471031528.0  20.593684  78.962880

   created_date_standardized  Rate (WB)    Year  Rate (ITU)  Year.1  \
0                2006-Mar-13       43.4  2020.0        43.4  2020.0
1                 2006-Mar-5       97.1  2022.0        97.1  2022.0
2                2012-Feb-20       97.1  2022.0        97.1  2022.0
3                 2006-Sep-1       97.1  2022.0        97.1  2022.0
4                2006-Sep-20       43.4  2020.0        43.4  2020.0

   Users (CIA)  Year.2
0  644000000.0  2021.0
1  312800000.0  2021.0
2  312800000.0  2021.0
3  312800000.0  2021.0
4  644000000.0  2021.0

[5 rows x 35 columns]